.contact {
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: $color3;
    min-height: 100vh;

    //padding: 0 0 0 25%;
    .message-container {
      display: inline-block;
      width: 40%;
      position: relative;
      height: 100%;

      .form-section {
        overflow-y: scroll;
        overflow-x: hidden;

        position: absolute;
        left: -250px;
        top: 56px;
        width: 100%;
        height: calc(100vh - 112px);
        padding: 46px;
        background-color: $color2;
        color: $color3;
        -webkit-box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);
        box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);

        h4 {
          font-size: 1.6rem;
          margin-bottom: 4rem;
          margin-top: 2rem;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 1px solid $color5;
          margin-bottom: 2rem;
          font-size: 0.8rem;
          text-transform: capitalize;
          line-height: 1.4;
          color: $color5;
          padding: 15x 0;
        }

        button[type="submit"] {
          background: $color1;
          border: none;
          font-size: 1rem;
          font-weight: 700;
          color: white;
          width: 100%;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          text-align: center;
          color: $color3;
          padding: 17px 30px;
        }
      }

      .form-section::-webkit-scrollbar {
        display: none;
      }

      .resume-img {
        position: absolute;
        left: -250px;
        top: 56px;
        width: 100%;
        height: calc(100vh - 112px);

        background: url(/img/resume.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        -webkit-box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);
        box-shadow: 23px 23px 80px -7px rgba(0, 0, 0, 0.3);
      }
    }

    .contact-section {
      display: inline-block;
      width: 60%;
      vertical-align: top;

      padding: 56px 0 0 0;

      .contact-info {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1rem 0;

          span {
            color: $color1;
          }
        }

        .contact-box {
          transition: all 0.5s ease-in-out;
          padding: 30px;
          width: 100%;
          max-width: 600px;
          cursor: pointer;

          h5 {
            font-size: 1.3rem;

            font-weight: 500;
            margin-bottom: 1.4rem;
          }

          p {
            font-size: 1rem;

            font-weight: 300;
            margin-bottom: 1rem;
          }

          &:hover {
            -webkit-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
          }

          h5 {
            font-weight: 550;
            font-size: 1.1rem;
            margin: 0 0 1.5rem 0;
          }

          p {
            color: $color5;
            font-weight: 300;
            line-height: 1.4;
            margin: 0 0 2rem 0;
          }
        }
      }
    }
  }
}

//small-device-cell-phones

@media (max-width: 767px) {
  .contact {
    .menu-icon {
      top: -3px;
      right: 20px;

      .fas {
        color: white;
      }
    }

    .content-area {
      /* overflow: auto; */
      /*  height: auto;

            &:after {
                content: "";
                display: table;
                clear: both;
            } */
    }

    .info-section {
      /*  display: none; */
      padding: 10px 20px;
      width: 35%;
      position: static;
      top: 0;
      bottom: 0;
      left: 0;
      min-height: 100%;

      .logo {
        height: 50px;
        width: 70px;
        font-size: 1rem;
      }

      .info-box {
        display: none;
      }
    }

    .content-area {
      margin-left: 0;
      width: 100%;

      .message-container {
        width: 100%;
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }

      .contact-section {
        width: 60%;
        padding: 20% 20px 0;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up) (tablet)
@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    .info-section {
      .icon-section {
        a {
          font-size: 1.4rem;
        }
      }
    }

    .content-area {
      height: auto;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .message-container {
        width: 100%;
        padding: 56px 20px 0;
        height: auto;
        float: left;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }

      .contact-section {
        width: 60%;
        padding: 20% 20px 0;
        height: auto;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .contact {
    .content-area {
      height: auto;

      .message-container {
        width: 100%;
        float: left;
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          float: left;
          height: auto;
          left: -30%;
        }
      }

      .contact-section {
        width: 100%;
        float: left;
        padding: 20% 60px 0;
        max-width: 100%;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact {
    .content-area {
      .message-container {
        padding: 56px 20px 0;
        float: left;
        width: 40%;

        .form-section {
          /* position: static;
                    width: 100%; */
          left: -157px;
          width: 400;
        }
      }

      .contact-section {
        width: 60%;
        float: left;
        max-width: 800px;
        padding: 20% 20px 0;

        .primary-btn,
        .ghost-btn {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .contact {
    .content-area {
      .message-container {
        padding: 56px 20px 0;
        float: left;
        width: 40%;

        .form-section {
          /* position: static;
                      width: 100%; */
          left: -250px;
          width: 500;
        }
      }

      .contact-section {
        width: 60%;
        float: left;
        max-width: 800px;
        padding: 20% 20px 0;

        .primary-btn,
        .ghost-btn {
          margin-bottom: 20px;
        }
      }
    }
  }
}
