.work {

    .info-section {
        width: 20%;
    }


    .content-area {
        margin-left: 20%;
        width: 80%;
        background: $color3;
        min-height: 100vh;
        min-width: 300px;

        overflow: hidden;

        .work-section {
            margin-bottom: 56px;

            h1 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: .1rem;
                line-height: 100px
            }


            .project-section {
                display: grid;
                /*  grid-template-columns: 1fr 1fr; */
                grid-column-gap: 56px;
                grid-row-gap: 30px;
                max-width: 1000px;

                .proj-box-BG {
                    background: url(https://cdn.dribbble.com/users/15687/screenshots/6315191/spring2.png) no-repeat center center;

                }



                .project-box {
                    position: relative;
                    transition: all 0.5s ease-in-out;
                    padding: 30px;
                    cursor: pointer;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    height: 400px;


                    h5 {
                        font-size: 1.3rem;

                        font-weight: 500;
                        margin-bottom: 1.4rem;
                    }

                    p {
                        font-size: 1rem;

                        font-weight: 300;
                        margin-bottom: 1rem;
                    }

                    &:hover {
                        -webkit-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                        -moz-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                        box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                    }

                    .grey-bg {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-color: $color7;
                        opacity: 0;
                        overflow: hidden;


                        &:hover {
                            opacity: .9;
                            transition: all .5s ease-in;

                            .project-info {
                                .project-details {
                                    transform: translate3d(0px, 0, 0);
                                    opacity: 1;
                                }

                                .project-title {
                                    transform: translate3d(0px, 0, 0);
                                    opacity: 1;
                                }
                            }
                        }

                        .project-info {
                            padding: 56px;
                            position: absolute;
                            width: 100%;
                            bottom: 0;

                            .project-details {
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem 0;
                                transform: translate3d(-200px, 0, 0);
                                opacity: 0;
                                transition: all .5s ease-in
                            }

                            .project-title {
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px, 0, 0);
                                opacity: 0;
                                transition: all .4s ease-in .2s;

                            }

                            .fa-long-arrow-alt-right {
                                position: absolute;
                                bottom: 56px;
                                right: 56px;
                                font-size: 3rem;
                            }

                        }
                    }

                }

                /*  .box {
                    -webkit-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                    -moz-box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 20px 18px -5px rgba(0, 0, 0, 0.12);
                } */
            }
        }



    }
}


//small-device-cell-phones

@media (max-width: 767px) {

    /*  html,
    body {
        height: auto;
    } */

    .work {
        .menu-icon {
            top: -3px;
            right: 20px;

            .fas {
                color: white;
            }
        }

        .content-area {
            /* overflow: auto; */
            /*  height: auto;
  
              &:after {
                  content: "";
                  display: table;
                  clear: both;
              } */
        }

        .info-section {
            /*  display: none; */
            padding: 10px 20px;
            width: 35%;
            position: static;
            top: 0;
            bottom: 0;
            left: 0;
            min-height: 100%;

            .logo {
                height: 50px;
                width: 70px;
                font-size: 1rem;
            }

            .info-box {
                display: none;
            }
        }

        .content-area {
            margin-left: 0;
            width: 100%;

            .scroll-section {
                padding: 50px 20px;
                width: 100%;
                height: auto;
                overflow: auto;
            }

            .category {
                width: 100%;

                .xp-section {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up) (tablet)
@media (min-width: 768px) and (max-width: 991px) {
    .work {
        .info-section {
            width: 30%;
            padding: 56px 20px;

            .icon-section {
                a {
                    font-size: 1.4rem;
                }
            }
        }

        .content-area {
            height: auto;
            width: 70%;
            margin-left: 30%;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .category {
                width: 100%;

                .xp-section {
                    grid-template-columns: 1fr;
                }
            }

        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .work {
        .info-section {
            width: 30%;

            .icon-section {
                a {
                    font-size: 1.4rem;
                }
            }
        }

        .content-area {
            height: auto;
            width: 70%;
            margin-left: 30%;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .category {
                width: 100%;

                .xp-section {
                    grid-template-columns: 1fr;
                }
            }

        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1500px) {
    .work {
        .info-section {
            width: 30%;

            .icon-section {
                a {
                    font-size: 1.4rem;
                }
            }
        }

        .content-area {
            height: auto;
            width: 70%;
            margin-left: 30%;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .category {
                width: 100%;

                .xp-section {
                    grid-template-columns: 1fr;
                }
            }

        }
    }
}


// 4k devices (large desktops, 1200px and up)
@media (min-width: 1501px) and (max-width: 6000px) {
    .work {
        .info-section {
            width: 30%;

            .icon-section {
                a {
                    font-size: 1.4rem;
                }
            }
        }

        .content-area {
            height: auto;
            width: 70%;
            margin-left: 30%;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .category {
                width: 100%;

                .xp-section {
                    grid-template-columns: 1fr;
                }
            }

        }
    }
}